*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    color: black;
    font-size: 1rem;
}

h1{
    text-align: center;
}

h2 {
    margin-left: 2%;
}

p{
    margin-left: 2%;
}

body{
    background-image: linear-gradient(90deg, #d4d4fc, #ababf7, #6c6cff);
    width: 100vw;
}

span{
    display: flex;
    width: 98%;
}

section{
    width: 48.5%;
}

div{
    margin: 0% 0% 0% 0%;   
    height: 200px;
    width: 95%;
}

button:hover{
    background-color: rgb(226, 224, 224);
}

button{
    width: 80%;
    height: 20%;
    margin: 5% 0% 0% 10%;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    box-shadow:3px 3px 3px rgba(0, 0, 0, 0.233);
    font-size: 0.8em;
    align-items: center;
}

header{
    margin: 0.5% 0% 0% 0%;   
    height: 100px;
    width: 95%;
}